@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,500&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

.quote__container {
  width: 614px;
  display: flex;
  gap: 100px;
  align-items: center;
}

.quote__line {
  display: block;
  height: 100%;
  width: 8px;
  background: #F7DF94;
}

.quote {
  font-weight: 500;
  font-size: 36px;
}