@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,500&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

.content__container {
  display: grid;
  height: 90vh;
  justify-content: center;
  place-content: center;
}

.quote__container {
  width: 722px;
  display: flex;
  align-items: center;
}

.quote {
  font-weight: 500;
  font-size: 36px;
  padding-left: 100px;
  border-left: 8px solid #F7DF94;
}

.author__article {
  background-color: #fff;
  width: 614px;
  height: 150px;
  margin-left: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all .4s ease;
}

.author__article:hover {
  background-color: #333333;
  transition: all .4s ease;
}

.author__article:hover .author__name {
  color: #f2f2f2;
  transition: color .4s ease;
}

.author__article span {
  margin-right: 30px;
  color: #fff;
  font-size: 38px;
}

.author__container {
  margin-left: 30px;
}

.author__name {
  color: #4F4F4F;
  font-weight: 700;
  font-size: 24px;
  line-height: 0;
  transition: color .4s ease;
}

.author__genre {
  color: #828282;
  font-weight: 500;
  font-size: 14px;
  line-height: 0;
}

.random-btn {
  position: absolute;
  top: 30px;
  right: 5%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: #f2f2f200;
  color: #333333;
}

.random-btn:hover {
  color: #828282;
}

.questlist__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questlist__title {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  margin-right: 300px;
}

.questlist {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}

.footer__text {
  font-size: 14px;
  color: #828282;
  font-weight: 500;
  text-align: center;
}

.footer__text a {
  font-weight: 700;
  color: #828282;
}

@media screen and (max-width: 770px) {
  .content__container {
    width: 80%;
    margin: 0 auto;
    justify-items: center;
  }

  .quote__container {
    width: 450px;
  }

  .quote {
    font-size: 24px;
    padding-left: 40px;
    border-left: 6px solid #F7DF94;
  }

  .author__article {
    width: 450px;
    height: 120px;
    margin-left: 0;
    transition: all .4s ease;
  }

  .author__article span {
    font-size: 28px;
  }
  
  .author__name {
    font-weight: 700;
    font-size: 20px;
  }

  .questlist__title {
    font-size: 28px;
    margin-right: 150px;
  }

  .questlist__container {
    margin-left: -100px;
  }
}

@media screen and (max-width: 470px) {
  .content__container {
    width: 275px;
  }

  .quote__container {
    width: 275px;
  }

  .quote {
    padding-left: 30px;
  }

  .author__article {
    width: 275px;
    height: 100px;
  }

  .author__article span {
    font-size: 24px;
  }
  
  .author__name {
    font-size: 18px;
  }

  .questlist__title {
    font-size: 20px;
    margin-left: 120px;
  }
}